---
import Divider from "./Divider.astro";
---

<div class="my-20 relative">
  <div class="hidden sm:block lines w-1/2"></div>
  <div class="w-full flex justify-center relative">
    <div class="flex flex-col-reverse md:flex-row max-w-6xl items-center">
      <div class="flex flex-1 flex-col pt-20">
        <h3 class="text-3xl font-semibold mb-5 px-4">
          Desarrollo de aplicaciones
        </h3>
        <p class="text-gray-500 mb-5 px-4">
          Desarrollamos apps a medida de las necesidades de nuestros clientes,
          apuntando a simplificar y automatizar sus procesos. Estas permiten
          agilizar la carga de datos desde cualquier lugar, ver toda la
          información actualizada en tiempo real y configurar notificaciones,
          correos y mensajes personalizados.
        </p>
        <a
          href="/es/soluciones#desarrollo"
          class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm md:mr-4 text-center md:w-[200px] mx-4"
          >Descubre más</a
        >
      </div>
      <div class="flex flex-1 relative">
        <div class="absolute w-full r-follower -top-[14px]">
          <img src="/images/test.png" />
        </div>
        <div class="pt-20 px-4">
          <img src="/images/ds6.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="hidden md:flex w-full justify-center mt-10">
    <div class="w-full max-w-6xl px-4 flex">
      <div class="flex flex-1"></div>
      <div class="flex flex-1 justify-center">
        <img src="/images/ck2.png" />
      </div>
    </div>
  </div>

  <div class="block px-20 md:hidden">
    <Divider/>
  </div>

  <div class="w-full flex justify-center relative">
    <div
      class="flex flex-col-reverse md:flex-row-reverse max-w-6xl items-center"
    >
      <div class="flex flex-1 flex-col">
        <h3 class="text-3xl font-semibold mb-5 mt-5 px-4 md:pl-10">
          Paneles dinámicos
        </h3>
        <p class="text-gray-500 mb-5 px-4 md:pl-10">
          Diseñamos  tableros de control dinámicos donde visualizar de manera
          interactiva los datos, entregando una herramienta clave para la
          supervisión y el análisis del estado de su empresa.Estos permiten a
          quien toma las decisiones ahorrar tiempo en tareas operativas y
          enfocarse en hacer crecer su negocio.
        </p>
        <a
          href="/es/soluciones#paneles"
          class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm md:mr-4 text-center md:w-[200px] mx-4 md:ml-10"
          >Descubre más</a
        >
      </div>
      <div class="flex flex-1">
        <div class="px-4">
          <img src="/images/bs1.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="block px-20 md:hidden">
    <Divider/>
  </div>

  <div class="hidden md:flex w-full justify-center mt-10">
    <div class="w-full max-w-6xl px-4 flex">
      <div class="flex flex-1 justify-center">
        <img src="/images/ck2.png" />
      </div>
      <div class="flex flex-1"></div>
    </div>
  </div>

  <div class="w-full flex justify-center relative">
    <div class="flex flex-col-reverse md:flex-row max-w-6xl items-center">
      <div class="flex flex-1 flex-col">
        <h3 class="text-3xl font-semibold mb-5 px-4 mt-5">Consultoría</h3>
        <p class="text-gray-500 mb-5 px-4">
          Asesoramos a nuestros clientes y los acompañamos en el proceso de
          digitalización de su empresa. Nuestro equipo de expertos trabajará
          contigo para entender tus necesidades específicas y diseñar soluciones
          que se ajusten perfectamente a tus objetivos.
        </p>
        <a
          href="/es/soluciones#Consultoría"
          class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm md:mr-4 text-center md:w-[200px] mx-4"
          >Descubre más</a
        >
      </div>
      <div class="flex flex-1">
        <div class="px-4">
          <img src="/images/cqw.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .lines {
    padding: 4.4px 0 4px 0;
    border-left: none;
    border-right: none;
    border-top: 3px solid #f6a728;
    border-bottom: 3px solid #f6a728;
  }

  .r-follower {
    top: -15px !important;
    right: 150px !important;
  }

  @media (min-width: 360px) {
    .r-follower {
      right: 170px !important;
    }
  }

  @media (min-width: 400px) {
    .r-follower {
      right: 140px !important;
    }
  }

  @media (min-width: 440px) {
    .r-follower {
      right: 120px !important;
    }
  }

  @media (min-width: 485px) {
    .r-follower {
      right: 100px !important;
    }
  }

  @media (min-width: 520px) {
    .r-follower {
      right: 80px !important;
    }
  }

  @media (min-width: 633px) {
    .r-follower {
      right: 50px !important;
    }
  }

  @media (min-width: 768px) {
    .r-follower {
      top: -51px !important;
      right: 160px !important;
    }
  }

  @media (min-width: 777px) {
    .r-follower {
      top: -49px !important;
      right: 160px !important;
    }
  }

  @media (min-width: 778px) {
    .r-follower {
      top: -19px !important;
      right: 160px !important;
    }
  }

  @media (min-width: 788px) {
    .r-follower {
      top: -17px !important;
      right: 160px !important;
    }
  }

  @media (min-width: 795px) {
    .r-follower {
      top: -15px !important;
      right: 160px !important;
    }
  }

  @media (min-width: 859px) {
    .r-follower {
      top: -14px !important;
      right: 140px !important;
    }
  }

  @media (min-width: 890px) {
    .r-follower {
      top: -14px !important;
      right: 120px !important;
    }
  }

  @media (min-width: 940px) {
    .r-follower {
      top: -14px !important;
      right: 100px !important;
    }
  }

  @media (min-width: 1000px) {
    .r-follower {
      top: -14px !important;
      right: 80px !important;
    }
  }
</style>
