<section class="w-full flex justify-center">
  <div class="w-full h-full max-w-6xl flex flex-col md:flex-row">
    <div class="md:w-1/2 px-4">
      <h3 class="text-2xl font-semibold text-[#0C6480]">Mision</h3>
      <p class="my-4 md:w-8/12">
        Potenciar a nuestros clientes en su crecimiento con herramientas
        digitales enfocadas en datos que permiten medir, alcanzar, y superar sus
        objetivos.
      </p>
      <h3 class="text-2xl font-semibold text-[#0C6480] mt-2">Vision</h3>
      <p class="my-4 md:w-8/12">
        Convertirnos en referentes globales en soluciones a medida usando
        ciencia de datos, siempre apostando a la innovación y a la mejora
        continua en sinergia con el cliente.
      </p>
      <h3 class="text-2xl font-semibold text-[#0C6480] mt-2">Valores</h3>
      <p class="my-4 md:w-8/12">
        Adaptabilidad, objetividad, transparencia, proactividad, innovacion,
        confianza.
      </p>
    </div>
    <div class="md:w-1/2 pl-4 md:px-4">
      <h3 class="text-2xl font-semibold text-[#0C6480] mt-5 md:mt-0">Nuestra metodologia</h3>
      <div class="flex justify-end">
        <img src="/images/ss8.png" />
      </div>
    </div>
  </div>
</section>
