<section class="w-full flex justify-center">
  <div class="w-full h-full max-w-6xl relative mt-10 mb-5">
    <div class="relative md:absolute flex w-full h-full z-10 md:border-b-4 border-[#f6a728]">
      <div
        class="flex flex-col-reverse md:flex-row md:w-1/2 lg:w-5/12 justify-center items-center bg-white bg-opacity-60"
      >
        <div class="px-4 md:px-8  pt-10 md:pt-0">
          <h3 class="text-4xl font-semibold mb-4">About us</h3>
          <p class="mb-4 text-sm">
            We are a company of young professionals united by a passion for data science and digital solutions.
          </p>
          <p class="text-sm">
            We seek quantitative and qualitative benefits both for us and for the clients which we consider our partners,
            prioritizing the understanding of their processes and data pipelines. Always providing customized, transparent,
            reliable and objective solutions.
          </p>
        </div>
        <img src="/images/kk8.png" class="block md:hidden" />
      </div>
    </div>
    <img src="/images/kk8.png" class="hidden md:block" />
  </div>
</section>
