<div class="flex justify-center mt-10 px-4">
  <div class="flex flex-col-reverse md:flex-row w-full max-w-6xl">
    <div class="flex flex-col w-full md:w-5/12 justify-center px-4">
      <h1 class="text-4xl lg:text-5xl font-semibold mt-12">
        The Future,<span class="block">in your data</span>
      </h1>
      <h2 class="text-gray-500 my-6 text-sm md:text-base">
        Transform your business with our customized digital solutions. Maximize the potential of your data with us.
      </h2>
      <div class="flex flex-col md:flex-row">
        <a
        href="/contacto"
          class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm md:mr-4 text-center"
          >Contact us</a
        >
        <!-- <a
          href="/tutoriales"
          class="flex justify-center items-center rounded-md bg-white px-3.5 py-2.5 md:py-0 text-sm font-semibold text-[#1B6480] shadow-sm md:shadow-none border border-[#1B6480] md:border-0 mt-4 md:mt-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 md:w-6 md:h-6 mr-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z"
            ></path>
          </svg>
          Tutoriales</a
        > -->
      </div>
    </div>
    <div class="flex w-full md:w-7/12 md:pl-10 lg:pl-20">
      <img src="/images/x2a.png" class="object-contain" />
    </div>
  </div>
</div>

<style>
  .lines {
    padding: 4px;
    border-left: none;
    border-right: none;
    border-top: 4px solid #f6a728;
    border-bottom: 4px solid #f6a728;
  }
</style>
