<section class="w-full flex justify-center">
  <div class="w-full h-full max-w-6xl flex flex-col md:flex-row">
    <div class="md:w-1/2 px-4">
      <h3 class="text-2xl font-semibold text-[#0C6480]">Mission</h3>
      <p class="my-4 md:w-8/12">
        To empower our clients in their growth with data-driven digital tools that allow them to measure, achieve and exceed their objectives.
      </p>
      <h3 class="text-2xl font-semibold text-[#0C6480] mt-2">Vision</h3>
      <p class="my-4 md:w-8/12">
        To become a global reference in customized solutions using data science, 
        always betting on innovation and continuous improvement in synergy with the client.
      </p>
      <h3 class="text-2xl font-semibold text-[#0C6480] mt-2">Values</h3>
      <p class="my-4 md:w-8/12">
        Adaptability, objectivity, transparency, proactivity, innovation, trust.
      </p>
    </div>
    <div class="md:w-1/2 pl-4 md:px-4">
      <h3 class="text-2xl font-semibold text-[#0C6480] mt-5 md:mt-0">Our methodology</h3>
      <div class="flex justify-end">
        <img src="/images/ss8.png" />
      </div>
    </div>
  </div>
</section>
