---
import Layout from "../../layouts/es/Layout.astro";
import Contact from "../../components/es/Contact.tsx";
import Divider from "../../components/es/Divider.astro";

import { config } from "../../../config.es.ts";

const { navigation } = config;
const el = navigation.find((el) => el.text === "Contacto")!;
---

<Layout title={el?.title || "DATALITICA"}>
  <main>
    <Divider flat={false} />
    <Contact config={config.emailjs_config} client:load layout="page" />
    <Divider />
  </main>
</Layout>
